<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="grid_project2.css">
</head>
<body>
    <main>
        <div class="panel welcome">
            <nav>
                <a href="/">Home</a>
                <a href="/">portfolio</a>
                <a href="/">Contact</a>
            </nav>
            <div>
                <h1>Moony</h1>
                <p>Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Dolores nobis sapiente nam 
                    nisi quam dolorum. Tenetur, ipsam saepe quisqu
                    am ab pariatur sapiente corporis qui, praesent
                     doloribus omnis placeat architecto eveniet?</p>
            </div>
            <footer>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </footer>

        </div>
        <div class="panel about">
            <div class="image">
             <img src="image1.avif" alt="main pic" style="width:100%; height:100%">
            </div>
             <div class="text">
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Recusandae quod perspiciatis modi minus 
                    reprehenderit. Placeat minus mollitia totam iste 
                    velit aperiam consectetur, esse, animi facilis,
                     maiores quae cupiditate porro debitis?</p>
             </div>
        </div>
        <div class="panel photos">
            <div class="text">
                <h2>Phototgraphy</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quidem in blanditiis quia, incidunt consequuntur ipsa 
                    cupiditate, ratione omnis ea eum, soluta cumque quo cum 
                    fugit unde optio eligendi accusantium. Ut?</p>
            </div>
            <img src="imag2.avif" alt="lanscape pic" style="width:100%; height:100%;">


        </div>
    </main>
</body>
</html>